<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<h1>Login</h1>
<div class="frame">
    <form action="{{url_for('log')}}">
        <div style="display:align-center">
            <p>Username</p> <input type="text" name="username" id="inp" placeholder="email">
        </div>
        <div>
            <p>password</p><input type="text" name="pass" placeholder="password ">
        </div>
        <div>
            <input type="submit" value="login" id="knopka" style="background:grey">
        </div>
    </form>


</div>
</body>
</html>